@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  font-family: 'Montserrat', sans-serif;
  margin: 2%;
  scroll-behavior: smooth;
}

.card {
  display: block;
  position: relative;
  width: 60%;
  max-width: 80%;
  max-height: 95%;
  margin: 0 auto;
  overflow: auto;
  font-size: 20px;
}

.text-muted {
  margin-top: 1%;
}

#mainProjectArchitechureDiv {
  margin-top: 2% !important;
}

.aboutPageTitle {
  text-align: center;
  color: white;
  font-size: 36px;
  margin-top: 2% !important;
  margin-bottom: 1%;
  margin: 0 auto;
}
