<div>
  <div class="aboutPageTitle">Project Architecture</div>

  <div id="mainProjectArchitechureDiv">
    <div>
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Angular Movie App</h1>
          <h3 class="card-subtitle mb-2 text-muted">Description</h3>
          <p class="card-text">
            A small movie app developed with Angular, The app displays an
            updated list of movies, and gives additional movies information when
            a movie on the movie table is clicked.
          </p>
          <h3 class="card-subtitle mb-2 text-muted">
            Requirements/Features Requested
          </h3>
          <div>
            <p>
              &#10004; The main view holds a table of Movies with columns
            </p>
            <p>
              &#10004; The second view will contain info about the project and
              architecture.
            </p>
            <p>&#10004; Allow the user to search by values inside the table.</p>
            <p>
              &#10004; Allow the user to sort table columns by a-z 0-1 when
              clicking the column title.
            </p>

            <p>&#10004;The table should be updated with data every 5 min.</p>
            <p>&#10004; Don’t re-render the page.</p>
            <p>
              &#10004; When a user clicks on movie name inside the row it should
              expand.
            </p>
            <p>&#10004;App Supports RTL/LTR</p>
            <p>
              &#10004;the project is linted and well written: functions naming
              is clear, comments are added and checked for typos.
            </p>
            <p>
              &#10004;the Table gets data from the NGRX store instead of
              directly from a fetch request, Used Actions/Reducers/Effects.
            </p>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <h3 class="card-subtitle mb-2 text-muted">Features</h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Responsive Design</li>
                <li class="list-group-item">Fetch from API</li>
                <li class="list-group-item">Fetch Every 5 minutes</li>
                <li class="list-group-item">Routing</li>
                <li class="list-group-item">Get Data from The NGRX Store</li>
                <li class="list-group-item">Search/Sort Functionality</li>
                <li class="list-group-item">Expandable rows</li>
                <li class="list-group-item">Single Page Application</li>
                <li class="list-group-item">Angular Routing</li>

              </ul>
            </div>

            <div class="col-sm-6">
              <h3 class="card-subtitle mb-2 text-muted">Technologies</h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">HTML</li>
                <li class="list-group-item">CSS</li>
                <li class="list-group-item">JavaScript</li>
                <li class="list-group-item">TypeScript</li>
                <li class="list-group-item">Bootstrap</li>
                <li class="list-group-item">Angular HTTP module</li>
                <li class="list-group-item">Jquery</li>
                <li class="list-group-item">Jquery Datatable</li>
                <li class="list-group-item">NGRX Store</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
