/* You can add global styles to this file, and also import other style files */

html {
  margin: 0 !important;
  font-family: Roboto, Arial, helvetica, sans-serif;
}
body {
  background: url(http://www.inggez.com/img/bg-pattern.png),
    linear-gradient(to left, #00a88f, #0d2042);
}
.center {
  margin: 0 auto !important;
}
